@import '../node_modules/@philips-internal/emr-tokens-variables/dist/css/blue_green_bright_ultra-light.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--global-neutral-white);
}

#root {
  margin: 0 auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  border-style: solid;
}

input:focus {
  outline-color: var(--global-groupblue-45);
}